<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>906060747459-jrshln3sj7c4o70udkcoef11fph46ah3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906060747459-jrshln3sj7c4o70udkcoef11fph46ah3</string>
	<key>API_KEY</key>
	<string>AIzaSyA2p91p_0wzNc5SLZ11rM7dkyfBF5Qqgfg</string>
	<key>GCM_SENDER_ID</key>
	<string>906060747459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abelee.ChatNow</string>
	<key>PROJECT_ID</key>
	<string>chatter-c63b1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatter-c63b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906060747459:ios:10ceb862f792d36e</string>
	<key>DATABASE_URL</key>
	<string>https://chatter-c63b1.firebaseio.com</string>
</dict>
</plist>